<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <ul class="icons">
        <li class="icon">
          <a class="link icons__link" href="#!">
            <img src="./img/svg/year-family.svg" alt="Год семьи">
          </a>
        </li>
        <li class="icon">
          <a class="link icons__link" href="#!">
            <img src="./img/svg/tg.svg" alt="Телеграм">
          </a>
        </li>
        <li class="icon">
          <a class="link icons__link" href="#!">
            <img src="./img/svg/footer-old-icon.svg" alt="Старость в радость">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
